{% extends 'Rehabilitation/base.html' %}

{% load mytags %}

{% block title %}血友阳光{% endblock %}

{% block body %}
    <div class="wrap">
        <div class="container pt30">
            <div class="row">
                <div class="col-xs-12 col-md-9 main">
                    <div role="tabpanel">
                    </div>
                    <div class="stream-list">
                        {% for conversation in conversation_list %}
                            <div style="cursor:pointer" onmouseover="this.style.backgroundColor='#F4F9FD'"
                                 onmouseout="this.style.backgroundColor='#FFFFFF'"
                                 onclick="window.open('{% url 'Rehabilitation:conversation' 1 %}')">
                                <section class="stream-list__item">

                                    <div class="media">
                                        <div class="media-left pull-left">
                                            <a href="">
                                                <img class="avatar-40"
                                                     src="/static/img/人工智能.png"></a>
                                        </div>
                                        <div class="media-body">
                                            <div>
                                                <a href=""><strong>{% anotherName request.user conversation %}</strong></a>
                                                <span class="text-muted pull-right">{{ conversation.last_send_time }}</span>
                                            </div>
                                            <p class="pull-left text-muted mb0 ellipsis">
                                                你好
                                            </p>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        {% endfor %}
                    </div><!-- /.stream-list -->
                    <div class="text-center">
                    </div>
                </div><!-- /.main -->
                <div class="col-xs-12 col-md-3 side mt15">

                </div><!-- /.side -->
            </div>
        </div>
    </div>
{% endblock %}
