{% load mytags %}
<section class="stream-list__item  mr10">
    <div class="media">
        <div class="media-left pull-left">
            <a href=""><img class="avatar-40"
                            src="{% fixPath current_user.avatar %}"></a>
        </div>
        <div class="media-body">
            <div>
                <a href=""><strong>{{ message_detail.send_user.nickname }}</strong></a>
                <span class="text-muted pull-right">{{ message_detail.send_date }}</span>
            </div>
            <div class="clearfix">
                <p class="col-xs-11 pull-left text-muted mb0 fmt p-l-0">
                    {{ message_detail.msg_detail }}
                </p>
            </div>
        </div>
    </div>
</section>