<section class="stream-list__item  mr10">
    <div class="media">
        <div class="media-left pull-left">
            <a href=""><img class="avatar-40"
                            src="/static/img/人工智能.png"></a>
        </div>
        <div class="media-body">
            <div>
                <a href=""><strong>{{ message_detail.0 }}</strong></a>
                <span class="text-muted pull-right">{{ message_detail.1 }}</span>
            </div>
            <div class="clearfix">
                <p class="col-xs-11 pull-left text-muted mb0 fmt p-l-0">
                    {{ message_detail.2 }}
                </p>
            </div>
        </div>
    </div>
</section>